# Dependencias de Node
node_modules/

# Variables de entorno
.env

# Logs de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# Carpetas de build o cobertura (si llegas a agregarlas)
coverage/
dist/
PAYPAL_CLIENT_ID=TU_CLIENT_ID
PAYPAL_CLIENT_SECRET=TU_CLIENT_SECRET

